# Configuration of the local factory
factory:
  node-id: ""
  tags:
  metadata-path: "./metadata"
  zone: ""

  handshake:
    request-channel: handshake-request
    response-channel: handshake-response
    timeout: 30s

  cache:
    ttl: 60s
    key-prefix: "shared-state-registry"

  assignment:
    evaluation-batch-size: 100
    strategy: single-location
    timeout: 10s

  graceful-shutdown:
    minion: 2s
    scenario: 10s
    campaign: 30s

streaming:
  platform: redis