.idea
.vscode

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Node files
package-lock.json

# Misc
.DS_Store
.fleet
.idea
.gradle

# Local env files
.env
.env.*
!.env.example
