micronaut:
  server:
    port: ${random.port}

monitoring.enabled: false

executors:
  global: 0
  campaign: 1x
  io: 1x
  background: global
  orchestration: global

runtime:
  minimal-duration: 2s

report:
  export:
    console:
      enabled: false

logging:
  level:
    io.qalipsis: TRACE
    root: INFO
    io:
      qalipsis:
        api: INFO
        core: INFO
        runtime: INFO
  file:
    path: qalipsis-test.log
    async: false
  events:
    path: qalipsis-events-test.log
    async: true

campaign.name: campaign-${random.shortuuid}
