micronaut:
  server:
    port: ${random.port}

monitoring.enabled: false

report:
  export:
    console:
      enabled: false

logging:
  level:
    io.qalipsis: DEBUG
    root: INFO
    io:
      qalipsis:
        core:
          report:
            StandaloneInMemoryCampaignStateKeeperImpl: TRACE
  file:
    path: qalipsis-test.log
    async: false
  events:
    path: qalipsis-events-test.log
    async: true

campaign.name: campaign-${random.shortuuid}
