/* Color palette */
$black: #06181a;
$grey-1: #939b9d;
$grey-2: #d5d8d9;
$grey-3: #dae1e1;
$grey-4: #F5F7F7;
$grey-5: #0b333e;
$grey-6: #e4e9e9;
$grey-7: #eef1f1;
$grey-8: #c7cccd;
$grey-9: #edf0f0;
$grey-10: #e2e8e8;
$green: #28b48f;
$pale-green: #ebf9f9;
$pink: #f33278;
$pink-highlight: #f04986;
$purple: #8c3cee;
$yellow: #ffb53e;
$white: #ffffff;
$primary-color: #41c9ca;
$primary-color-medium: #3bbbbc;
$primary-color-darkened: #37acad;
$light-grey-highlight: #f2f5f5;
$light-grey: rgba(193, 238, 238, 0.52);
$light-blue: rgba(64, 201, 201, 0.12);
$light-pink: rgba(243, 50, 120, 0.12);
$light-purple: rgba(140, 60, 238, 0.12);
$light-yellow: rgba(255, 181, 62, 0.12);

/* Filters for changing the svg color */
$white-svg: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(2%) hue-rotate(190deg) brightness(112%) contrast(100%);
$primary-color-svg: brightness(0) saturate(100%) invert(68%) sepia(35%) saturate(670%) hue-rotate(132deg) brightness(94%) contrast(93%);
$grey-svg: brightness(0) saturate(100%) invert(67%) sepia(18%) saturate(105%) hue-rotate(145deg) brightness(90%) contrast(83%);
$black-svg: brightness(0) saturate(100%) invert(7%) sepia(41%) saturate(667%) hue-rotate(138deg) brightness(99%) contrast(99%);