@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Light.woff2') format('woff2'),
        url('/fonts/static/Outfit-Light.woff') format('woff'),
        url('/fonts/static/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Light.woff2') format('woff2'),
        url('/fonts/static/Outfit-Light.woff') format('woff'),
        url('/fonts/static/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Medium.woff2') format('woff2'),
        url('/fonts/static/Outfit-Medium.woff') format('woff'),
        url('/fonts/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-ExtraLight.woff2') format('woff2'),
        url('/fonts/static/Outfit-ExtraLight.woff') format('woff'),
        url('/fonts/static/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Regular.woff2') format('woff2'),
        url('/fonts/static/Outfit-Regular.woff') format('woff'),
        url('/fonts/static/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Black.woff2') format('woff2'),
        url('/fonts/static/Outfit-Black.woff') format('woff'),
        url('/fonts/static/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-ExtraBold.woff2') format('woff2'),
        url('/fonts/static/Outfit-ExtraBold.woff') format('woff'),
        url('/fonts/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-SemiBold.woff2') format('woff2'),
        url('/fonts/static/Outfit-SemiBold.woff') format('woff'),
        url('/fonts/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Bold.woff2') format('woff2'),
        url('/fonts/static/Outfit-Bold.woff') format('woff'),
        url('/fonts/static/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/static/Outfit-Thin.woff2') format('woff2'),
        url('/fonts/static/Outfit-Thin.woff') format('woff'),
        url('/fonts/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Font colors */
.text-black {
    color: $black !important;
}

.text-grey-1 {
    color: $grey-1 !important;
}

.text-grey-2 {
    color: $grey-2 !important;
}

.text-grey-3 {
    color: $grey-3 !important;
}

.text-grey-4 {
    color: $grey-4 !important;
}

.text-grey-5 {
    color: $grey-5 !important;
}

.text-grey-6 {
    color: $grey-6 !important;
}

.text-grey-7 {
    color: $grey-7 !important;
}

.text-grey-8 {
    color: $grey-8 !important;
}

.text-grey-9 {
    color: $grey-9 !important;
}

.text-grey-10 {
    color: $grey-10 !important;
}

.text-green {
    color: $green !important;
}

.text-pale-green {
    color: $pale-green !important;
}

.text-pink {
    color: $pink !important;
}

.text-pink-highlight {
    color: $pink-highlight !important;
}

.text-purple {
    color: $purple !important;
}

.text-yellow {
    color: $yellow !important;
}

.text-white {
    color: $white !important;
}

.text-primary-color {
    color: $primary-color !important;
}

.text-primary-color-medium {
    color: $primary-color-medium !important;
}

.text-primary-color-darkened {
    color: $primary-color-darkened !important;
}

.text-light-grey-highlight {
    color: $light-grey-highlight !important;
}

.text-light-grey {
    color: $light-grey !important;
}

.text-light-blue {
    color: $light-blue !important;
}

.text-light-pink {
    color: $light-pink !important;
}

.text-light-purple {
    color: $light-purple !important;
}

.text-light-yellow {
    color: $light-yellow !important;
}

/* Title font sizes */
@for $i from 1 through 6 {
    /* No extra margin for h1 - h7 tag */
    h#{7 - $i} {
        margin: 0;
    }
}

h1 {
    font-size: 2rem;
    /* 32px */
    line-height: 2.5rem;
    /* 40px */
}

h2 {
    font-size: 1.75rem;
    /* 28px */
    line-height: 2rem;
    /* 32px */
}

h3 {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.5rem;
    /* 24px */
}

h4 {
    font-size: 1rem;
    /* 16px */
    line-height: 1.25rem;
    /* 20px */
}

/* Available font sizes */
.text-xs {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
}

.text-base {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.text-3xl {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
}

.text-4xl {
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.5rem;
    /* 40px */
}

.text-5xl {
    font-size: 3rem;
    /* 48px */
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    /* 60px */
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    /* 72px */
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    /* 96px */
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    /* 128px */
    line-height: 1;
}

.text-bold {
    font-weight: 600;
}