.full-width {
  width: 100%;
}

.pointer-event-none {
  pointer-events: none;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.capitalize {
  text-transform: capitalize;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-end {
  align-items: end;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.layout-shadow {
  box-shadow: 0 .5rem 1.25rem 0 rgba(61, 79, 86, 0.05)
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

/* Classes for padding and margin */
@for $i from 1 through 10 {

  // PADDING
  .p-#{$i} {
    padding: #{.25rem * $i} !important;
  }


  // PADDING LEFT
  .pl-#{$i} {
    padding-left: #{.25rem * $i} !important;
  }

  // PADDING RIGHT
  .pr-#{$i} {
    padding-right: #{.25rem * $i} !important;
  }

  // PADDING TOP
  .pt-#{$i} {
    padding-top: #{.25rem * $i} !important;
  }

  // PADDING BOTTOM
  .pb-#{$i} {
    padding-bottom: #{.25rem * $i} !important;
  }

  // MARGIN LEFT
  .ml-#{$i} {
    margin-left: #{.25rem * $i} !important;
  }

  // MARGIN RIGHT
  .mr-#{$i} {
    margin-right: #{.25rem * $i} !important;
  }

  // MARGIN TOP
  .mt-#{$i} {
    margin-top: #{.25rem * $i} !important;
  }

  // MARGIN BOTTOM
  .mb-#{$i} {
    margin-bottom: #{.25rem * $i} !important;
  }

}