head:
  handshake-request-channel: handshake-request
  unicast-channel-prefix: unicast-
  heartbeat-channel: heartbeat
  zones: [ ]

distributed:
  streaming:
    platform: redis

report:
  export:
    console:
      enabled: false
    junit:
      enabled: false
      folder: test-results