# Configuration of the local head
head:
  handshake-request-channel: handshake-request
  handshake-response-channel: handshake-response
  broadcast-channel: broadcast
  unicast-channel-prefix: unicast-
  feedback-channel: feedback
  heartbeat-channel: heartbeat
  heartbeat-duration: 30s

# Configuration of the core
core:
  pending-key: pending-key

liquibase:
  enabled: true
  datasources:
    default:
      change-log: 'classpath:db/liquibase-changelog.xml'
