<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="campaign-summary(campaign)" class="campaign-summary">
  <div class="campaign-summary-top">
    <div class="campaign-summary-top-first">
      <span class="color"></span>
      <h3 th:text="${campaign.name}">No Campaign</h3>
      <div class="button-wrapper" th:replace="fragments/button :: button (${campaign.result})"
           th:classappend="${campaign.result}">
        <span>Finished</span>
      </div>
    </div>
    <span class="vertical-divider"></span>
    <div class="campaign-summary-top-second">
      <div class="campaign-summary-top-second-items">
        <img src="/public/images/time.svg" alt="Time icon"/>
        <p th:text="${new java.lang.Integer(campaign.executionTime/ 60)} + 'mins' + ' ' + ${campaign.executionTime} % 60 + 's' ">
          1min 15s</p>
      </div>
      <div class="campaign-summary-top-second-items">
        <img src="/public/images/user.svg" alt="user icon"/>
        <p th:text="${campaign.startedMinions} + ' Minions'">30 Minions</p>
      </div>
    </div>
    <span class="vertical-divider"></span>
    <div th:each="zone: ${campaign.resolvedZones}" class="campaign-summary-top-third">
      <span th:if="${zone.image != null}" class="zone"
            th:style="'background-image:url(' + ${zone.image}+ '); background-repeat: no-repeat, repeat; background-size: cover;'"></span>
      <span th:unless="${zone.image != null}" class="zone" th:text="${zone.key}">KEY</span>
      <div>
        <p class="text-faint">Load zone</p>
        <p th:text="${zone.title}">Frankfurt</p>
      </div>
    </div>
  </div>
  <span class="campaign-summary-hr"></span>
  <div class="campaign-summary-bottom">
    <ul class="campaign-details-more-info">
      <li class="campaign-details-more-info-item">
        <p class="campaign-details-more-info-item-key">Started Minions</p>
        <span class="dotted-dashes"></span>
        <span class="campaign-details-more-info-item-value" th:text="${campaign.startedMinions}">1</span>
      </li>
      <li class="campaign-details-more-info-item">
        <p class="campaign-details-more-info-item-key">Successful steps executions</p>
        <span class="dotted-dashes"></span>
        <span class="campaign-details-more-info-item-value"
              th:text="${campaign.successfulExecutions}">1</span>
      </li>
      <li class="campaign-details-more-info-item">
        <p class="campaign-details-more-info-item-key">Failed steps executions</p>
        <span class="dotted-dashes"></span>
        <span class="campaign-details-more-info-item-value" th:text="${campaign.failedExecutions}">0</span>
      </li>
      <li class="campaign-details-more-info-item">
        <p class="campaign-details-more-info-item-key">Completed minions</p>
        <span class="dotted-dashes"></span>
        <span class="campaign-details-more-info-item-value" th:text="${campaign.completedMinions}">0</span>
      </li>
      <li class="campaign-details-more-info-item">
        <p class="campaign-details-more-info-item-key">Started Minions</p>
        <span class="dotted-dashes"></span>
        <span class="campaign-details-more-info-item-value" th:text="${campaign.startedMinions}">0</span>
      </li>
    </ul>
  </div>
</div>
</body>
</html>