report:
  export:
    console:
      enabled: false
    junit:
      enabled: false
      folder: test-results
    console-live:
      enabled: true

head:
  handshake-request-channel: handshake-request
  handshake-response-channel: handshake-response
  broadcast-channel: broadcast
  unicast-channel-prefix: unicast-
  feedback-channel: feedback
  heartbeat-channel: heartbeat
  heartbeat-duration: 30s
  heartbeat-consumer-group-name: heartbeat-group-name

micronaut:
  executors:
    scheduled:
      type: SCHEDULED
      core-pool-size: 2
      number-of-threads: 4

logging:
  annotations.enabled: false
  file:
    async: true