server:
  port: 8400
  api-root: ''

# For the executors:
# - 0 or less means the Kotlin Global Scope
# - 1 or more means a fixed thread execution context with the number of threads - cannot be less than 2
# - 1.5x means 1.5 times the number of cores, rounded to the next integer if required - cannot be less than 2
# - name of another executor to reuse it
executors:
  global: -1
  campaign: 2x
  io: 1x
  background: global
  orchestration: global

logging:
  console: true
  root: warn
  pattern: "%d{yyyy-MM-dd'T'HH:mm:ss.SSS,UTC}Z %5p --- [%t / %X{campaign} / %X{scenario} / %X{minion} / %X{step} / %X{job}] %logger.%M.%L : %m%n"
  file:
    path: qalipsis.log
    max-size: 30MB
    max-history: 3
    total-capacity: 100MB
    async: false
    queue-size: 1024
    include-caller-data: true
    never-block: false
  events:
    path: qalipsis-events.log
    max-size: 30MB
    max-history: 3
    total-capacity: 100MB
    pattern: "%d{yyyy-MM-dd'T'HH:mm:ss.SSS,UTC}Z %5p --- %m%n"
    async: true
    queue-size: 1024
    include-caller-data: false
    never-block: false
  level:
    io.qalipsis.core.head: info
    io.micronaut: warn
    io.netty: warn
    io.qalipsis: warn
    events: all

shared-registry:
  time-to-live: PT2M

events:
  root: DEBUG
  level:
  export:
    enabled: true

meters:
  export:
    enabled: true

monitoring:
  enabled: false
  port: 8410

# Micronaut configuration, which should not be changed by the users.
micronaut:
  server:
    port: ${server.port}
    cors:
      enabled: true
  session:
    http:
      cookie: false
      header: false
  security:
    enabled: false
  metrics:
    enabled: ${monitoring.enabled}
    binders:
      jvm:
        enabled: true
      web:
        enabled: true
      uptime:
        enabled: true
      processor:
        enabled: true
      files:
        enabled: true
      logback:
        enabled: true
      cache:
        enabled: true
      netty:
        channels:
          enabled: true
        bytebuf-allocators:
          enabled: true

netty:
  default:
    allocator:
      max-order: 3
jackson:
  trim-strings: true
