<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:title="${displayName}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link type="text/css" media="print" href="/public/style.css"
        th:href="${stylePath}" rel="stylesheet"/>
  <link type="text/css" media="all" href="/public/style.css"
        th:href="@{public/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div>
    <img class="logo float-left img" style="margin-right: 10px;" th:src="${logoImage}" alt="pdf-image Qalipsis Logo"/>
    <h1 class="float-left" th:text="${title}">No Report Title</h1>
  </div>
  <div style="clear:both; margin-top: 28px;">
    <section class="campaign-list">
      <div class="btn-transparent" th:each="campaign: ${campaigns}">
        <span class="color"></span>
        <h3 class="campaign-name" th:text="${campaign.name}">No Campaign name</h3>
      </div>
    </section>
  </div>
  <section>
    <div class="campaign-summary" th:each="campaign: ${campaigns}"
         th:insert="~{fragments/campaign-summary :: campaign-summary(${campaign}, ${timeImage}, ${userImage})}"
         th:remove="tag"></div>
  </section>
  <section class="chart" th:if="${chartImages == null || chartImages.empty}">
    <p>No Chart available</p>
  </section>
  <section class="chart" th:each="chartImage: ${chartImages}">
    <img class="img" th:src="${chartImage}" alt="pdf-image Requests Chart"/>
  </section>
  <section th:if="${eventTableData != null and eventTableData.isEmpty()}">
    <p>No TimeSeries Record available</p>
  </section>
  <section class="table-section" th:if="${eventTableData != null and !eventTableData.isEmpty()}">
    <div th:each="singleEventTableData: ${eventTableData}">
      <table class="campaign-table"
             th:insert="~{fragments/time-series-event-table :: time-series-event-table(${singleEventTableData})}"
             th:remove="tag"></table>
    </div>
  </section>
  <section th:if="${meterTableData != null and meterTableData.isEmpty()}">
    <p>No TimeSeries Record available</p>
  </section>
  <section class="table-section" th:if="${meterTableData != null and !meterTableData.isEmpty()}">
    <div th:each="singleMeterTableData: ${meterTableData}">
      <table class="campaign-table"
             th:insert="~{fragments/time-series-meter-table :: time-series-meter-table(${singleMeterTableData})}"
             th:remove="tag"></table>
    </div>
  </section>
</div>
</body>
</html>