name: Java CI - Main branch

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

env:
  GITHUB_ACTIONS: true

jobs:
  build:
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        java: [ '11' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Check licenses
        run: ./gradlew checkLicense
        if: always()

      - name: Unit tests
        run: ./gradlew test --continue --refresh-dependencies

      - name: Integration Tests
        run: ./gradlew integrationTest --continue

      - name: Report
        if: always()
        run: ./gradlew jacocoTestReport aggregatedTestReport aggregatedCoverageReport -x test -x integrationTest

      - name: Build
        run: ./gradlew assemble

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: '**/build/test-results/*/TEST-*.xml'
          fail_on_failure: true
          summary: true

      - name: Upload JARs
        uses: actions/upload-artifact@v4
        with:
          name: Jars
          path: |
            ./**/build/libs/*.jar
            !./**/build/libs/*-javadoc.jar

      - name: Prepare publishing configuration
        env:
          JRELEASER_CONFIGURATION: ${{secrets.JRELEASER_CONFIGURATION}}
        run: |
          mkdir -p $HOME/.jreleaser
          echo "$JRELEASER_CONFIGURATION" > $HOME/.jreleaser/config.yml ;

      - name: Publish artifacts
        run: ./gradlew publish jreleaserFullRelease
